<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/assets/vendor/fonts/circular-std/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/libs/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/charts/chartist-bundle/chartist.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/charts/morris-bundle/morris.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/charts/c3charts/c3.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/flag-icon-css/flag-icon.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" th:href="@{/assets/libs/css/popup.css}">
    <title>Admin Poketra</title>
</head>
<body>
<div th:replace="content/sidebar"></div>
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Gestion de vente</h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Matériels</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Employeur</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">
                <div class="row">
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->

                    <!-- recent orders  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-8 col-lg-12 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Listes</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0">Nom</th>
                                            <th class="border-0">Poste</th>
                                            <th class="border-0">Date de naissance</th>
                                            <th class="border-0">Category</th>
                                            <th class="border-0">Date d'embauche</th>
                                            <th class="border-0">Taux horaire(Base)</th>
                                            <th class="border-0">Taux horaire</th>
                                            <th class="border-0">Anciennete</th>
                                        </tr>
                                        </thead>
                                        <tbody th:if="${list_empOuvriers}">
                                            <tr th:each="emp, rowStat : ${list_empOuvriers}">
                                                <td th:text="${emp.employe.nom}"></td>
                                                <td th:text="${emp.employe.poste.nom}"></td>
                                                <td th:text="${emp.employe.date_naissance}"></td>
                                                <td th:text="${emp.categoryEmploye.nom}"></td>
                                                <td th:text="${emp.employe.date_embauche}"></td>
                                                <td th:text="${emp.employe.taux_horaire}"></td>
                                                <td th:text="${emp.taux_horaire}"></td>
                                                <td th:text="${emp.anciennte}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="card-body border-top">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>      </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                                                        <span class="sr-only">Next</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end recent orders  -->


                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- customer acquistion  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Nouveau</h5>
                            <div class="card-body">
                                <form th:action="@{/employe/insert}" method="post" id="basicform" data-parsley-validate="">
                                    <div class="form-group">
                                        <label for="inputUserName">Nom</label>
                                        <input id="inputUserName" type="text" name="nom" data-parsley-trigger="change" required="" placeholder="Entrer un nom" autocomplete="off" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputUserName">Date de naissance</label>
                                        <input id="inputUserName" type="date" name="dtn" data-parsley-trigger="change" required="" autocomplete="off" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="mm">Poste</label>
                                        <select class="form-control quantite" id="mm" name="posteId" required>
                                            <option th:each="poste : ${posteList}"
                                                    th:value="${poste.id}"
                                                    th:text="${poste.nom}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputUserName">Taux horaire</label>
                                        <input id="inputUserName" type="number" min="1" step="any" name="taux_horaire" data-parsley-trigger="change" required="" autocomplete="off" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputUserName">Date d'embauche</label>
                                        <input id="inputUserName" type="date" name="date_embauche" data-parsley-trigger="change" required="" autocomplete="off" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-space btn-primary">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end customer acquistion  -->
                    <!-- ============================================================== -->
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->

<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
<script th:src="@{/assets/libs/js/main-js.js}"></script>
<script th:src="@{/assets/vendor/charts/chartist-bundle/chartist.min.js}"></script>
<script th:src="@{/assets/vendor/charts/sparkline/jquery.sparkline.js}"></script>
<script th:src="@{/assets/vendor/charts/morris-bundle/raphael.min.js}"></script>
<script th:src="@{/assets/vendor/charts/morris-bundle/morris.js}"></script>
<script th:src="@{/assets/vendor/charts/c3charts/c3.min.js}"></script>
<script th:src="@{/assets/vendor/charts/c3charts/d3-5.4.0.min.js}"></script>
<script th:src="@{/assets/vendor/charts/c3charts/C3chartjs.js}"></script>
<script th:src="@{/assets/libs/js/dashboard-ecommerce.js}"></script>
<script th:src="@{/assets/vendor/parsley/parsley.js}"></script>
<script th:src="@{/assets/libs/js/dashboard-influencer.js}"></script>
<script th:src="@{/assets/libs/js/dashboard-influencer.js}"></script>

</body>
</html>
